---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<style>
    .exercise {
      margin: 50px;
      white-space: pre;
    }

    [data-datacamp-exercise] {
        visibility: hidden;
      }
</style>

<script async src="https://cdn.datacamp.com/dcl-react-dev.js.gz"></script>

<div class="exercise">
   <div data-datacamp-exercise data-lang="python" data-height="auto">
	<code data-type="pre-exercise-code"></code>
	<code data-type="sample-code">
        	import numpy as np
        	import matplotlib.pyplot as plt

	        x = np.arange(0, 5, 0.1);
        	y = np.sin(x)
	        plt.plot(x, y)
        	plt.show()
      	</code>
      	<code data-type="solution"></code>
      	<code data-type="sct"></code>
      	<div data-type="hint">Just press 'Run'.</div>
   </div>
</div>

<div class="exercise">
   <div data-datacamp-exercise data-lang="r">
	<code data-type="pre-exercise-code">
		# This will get executed each time the exercise gets initialized
		b = 6
	</code>
	<code data-type="sample-code">
		# Create a variable a, equal to 5



	</code>
	<code data-type="solution">
		a <- 5
	</code>
	<code data-type="sct">
		test_object("a")
	</code>
	<div data-type="hint">Use the assignment operator (<code><-</code>) to create the variable <code>a</code>.</div>
   </div>
</div>


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}



